<script setup>
import InputText from 'primevue/inputtext';
import Dropdown from 'primevue/dropdown';
import Button from 'primevue/button';
import Modal from "@/Components/ModalPage.vue"
import { useForm } from "@inertiajs/vue3"

const props = defineProps({
    roles: {
        type: Array,
        default: []
    },
    model: {
        type: Object,
        default: {}
    }
});

const form = useForm({
    email: props.model.email,
    name: props.model.name,
    password: props.model.password,
    role_id: props.model.role_id
});

const submit = () => {
    if (props.model.id) {
        form.put(route('users.update', [props.model.id]));
    } else {
        form.post(route('users.store'));
    }
};
</script>

<template>
    <Modal>
        <template #title>
            <div v-if="props.model.id">
                Editar usuario
            </div>
            <div v-else>
                Agregar usuario
            </div>
        </template>

        <div class="grid gap-4">
            <div>
                <div class="flex flex-col gap-2">
                    <label for="role_id">Rol</label>
                    <Dropdown :invalid="form.errors.role_id" id="role_id" aria-describedby="role_id-help" v-model="form.role_id"
                        :options="props.roles" option-label="label" option-value="name" placeholder="Seleciona un rol"
                        class="w-full" />
                </div>
                <small v-if="form.errors.role_id" id="role_id-help">{{ form.errors.role_id }}</small>
            </div>
            <div>
                <div class="flex flex-col gap-2">
                    <label for="name">Nombre</label>
                    <InputText :invalid="form.errors.label" id="name" v-model="form.name"
                        aria-describedby="name-help" />
                    <small v-if="form.errors.name" id="name-help">{{ form.errors.name }}</small>
                </div>
            </div>
            <div>
                <div class="flex flex-col gap-2">
                    <label for="email">Email</label>
                    <InputText :invalid="form.errors.email" id="email" v-model="form.email"
                        aria-describedby="email-help" />
                    <small v-if="form.errors.email" id="email-help">{{ form.errors.email }}</small>
                </div>
            </div>

            <div>
                <div class="flex flex-col gap-2">
                    <label for="password">Contraseña</label>
                    <InputText :invalid="form.errors.password" id="password" v-model="form.password"
                        aria-describedby="password-help" />
                    <small v-if="form.errors.password" id="password-help">{{ form.errors.password }}</small>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="flex justify-end gap-4">
                <Button @click="submit" label="Guardar" />
            </div>
        </div>
    </Modal>
</template>
