<script setup>
import { router } from '@inertiajs/vue3';
import { ref } from 'vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import IconField from 'primevue/iconfield';
import InputIcon from 'primevue/inputicon';
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
import { Link } from '@inertiajs/vue3'
import Breadcrumb from 'primevue/breadcrumb';

const props = defineProps({
    items: {
        type: Object,
        default: {}
    },
    filters: {
        type: Object,
        default: {}
    }
});

const filters = ref(props.filters);



const fetchAll = () => {
    router.get(
        '/users',
        { ...filters.value },
        {
            preserveState: true,
            preserveScroll: true,
            replace: true
        }
    );
};

const paginate = (event) => {
    filters.value.page = event.page + 1;
    //filters.value.per_page
    fetchAll();
}

const filter = () => {
    filters.value.page = 1;
    fetchAll();
}

const home = ref({
    icon: 'pi pi-home', url: '/',
});
const breadcrumbs = ref([{
    label: 'Usuarios'
}]);
</script>

<template>
    <AppLayout >
        <template #breadcrumb>
            <Breadcrumb :home="home" :model="breadcrumbs"></Breadcrumb>
        </template>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
                Usuarios
            </h2>
        </template>
        <div>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <section class="bg-gray-50 dark:bg-gray-900 ">
                    <div class="mx-auto max-w-screen-xl ">
                        <!-- Start coding here -->
                        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden p-4">
                            <div class="flex flex-col md:flex-row items-center justify-between mb-4">
                                <div class="w-full md:w-1/2">
                                    <IconField iconPosition="left">
                                        <InputIcon class="pi pi-search"> </InputIcon>
                                        <InputText @keyup="filter" class="w-full" v-model="filters.search"
                                            placeholder="Buscar" />
                                    </IconField>
                                </div>
                                <div class="w-full md:w-1/2 flex justify-end">
                                    <Link :href="route('users.create')"><Button icon="pi pi-plus" label="Nuevo" />
                                    </Link>
                                </div>
                            </div>
                            <div class="overflow-x-auto">
                                <DataTable stripedRows @page="paginate" :value="items.data" lazy :first="items.from"
                                    paginator :rows="items.per_page" :totalRecords="items.total"
                                    tableStyle="min-width: 50rem">
                                    <Column field="name" header="Nombre"></Column>
                                    <Column field="email" header="Email"></Column>
                                    <Column header="Roles">
                                        <template #body="slotProps">
                                            <div v-for="role in slotProps.data.roles">{{ role.label }}</div>
                                        </template>
                                    </Column>
                                    <Column header="Opciones" style="width: 200px">
                                        <template #body="slotProps">
                                            <div class="flex gap-4">
                                                <Link :href="route('users.edit', [slotProps.data.id])">
                                                <Button icon="pi pi-pencil" title="Editar" severity="info" />
                                                </Link>
                                                <Link :href="route('users.delete', [slotProps.data.id])">
                                                <Button icon="pi pi-trash" title="Eliminar" severity="danger" />
                                                </Link>
                                            </div>
                                        </template>
                                    </Column>
                                </DataTable>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </AppLayout>
</template>
