<script setup>
import InputText from 'primevue/inputtext';
import Textarea from 'primevue/textarea';
import Button from 'primevue/button';
import Modal from "@/Components/ModalPage.vue";
import slug from 'slug';
import { vMaska } from "maska";

import { useForm } from "@inertiajs/vue3";
import { ref } from 'vue';

const props = defineProps({
    module: {
        type: Object,
        default: {}
    },
    model: {
        type: Object,
        default: {
            label: '',
            guard_name: 'web',
        }
    }
});

const form = useForm({
    label: props.model.label,
    description: props.model.description,
    name: props.module.name,
    guard_name: props.model.guard_name,
});

const inputName = ref(props.model.name || props.module.name + '-');

const setName = function () {
    inputName.value = props.module.name + '-' + slug(form.label);
};

const submit = () => {
    form
        .transform((data) => ({
            ...data,
            name: inputName.value,
        }));
    if (props.model.id) {
        form.put(route('modules.permissions.update', [props.module.id, props.model.id]))
    } else {
        form.post(route('modules.permissions.store', [props.module.id]))
    }
};
</script>

<template>
    <Modal>
        <template #title>
            <div v-if="props.model.id">
                Editar permiso
            </div>
            <div v-else>
                Nuevo permiso
            </div>
        </template>

        <div class="grid gap-4 grid-cols-2">
            <div>
                <div class="flex flex-col gap-2">
                    <label for="title">Etiqueta</label>
                    <InputText @input="setName" :invalid="form.errors.label" id="label" v-model="form.label"
                        aria-describedby="label-help" />
                    <small v-if="form.errors.label" id="label-help">{{ form.errors.label }}</small>
                </div>
            </div>
            <div>
                <div class="flex flex-col gap-2">
                    <label for="name">Nombre</label>
                    <InputText v-maska :data-maska="module.name + '-X'" data-maska-tokens="X:[\w-]:multiple"
                        :invalid="form.errors.name" id="name" v-model="inputName" aria-describedby="name-help" />
                    <small v-if="form.errors.name" id="name-help">{{ form.errors.name }}</small>
                </div>
            </div>
            <div class="col-span-2">
                <div class="flex flex-col gap-2">
                    <label for="description">Descripción</label>
                    <Textarea v-model="form.description" rows="2" aria-describedby="description-help" />
                    <small v-if="form.errors.description" id="description-help">{{ form.errors.description }}</small>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="flex justify-end gap-4">
                <Button @click="submit" label="Guardar" />
            </div>
        </div>
    </Modal>
</template>
