@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

[x-cloak] {
    display: none;
}

.p-toast .p-toast-message .p-toast-message-content {
    border: none;
}

.p-paginator-bottom {
    border-bottom: none;
}

html {
    /*font-size: 14px;*/
}