<script setup>
import InputText from 'primevue/inputtext';
import Textarea from 'primevue/textarea';
import Button from 'primevue/button';
import Modal from "@/Components/ModalPage.vue"
import { useForm } from "@inertiajs/vue3"
import slug from 'slug';
import { ref } from 'vue';

const props = defineProps({
    model: {
        type: Object,
        default: {
            name: ''
        }
    }
});

const form = useForm({
    label: props.model.label,
    name: props.model.name,
    description: props.model.description,
});

const inputName = ref(props.model.name);

const setName = function () {
    inputName.value = slug(form.label);
};

const submit = () => {
    form
        .transform((data) => ({
            ...data,
            name: inputName.value,
        }));
    if (props.model.id) {
        form.put(route('modules.update', [props.model.id]))
    } else {
        form.post(route('modules.store'))
    }
};

</script>

<template>
    <Modal>
        <template #title>
            <div v-if="props.model.id">
                Editar módulo
            </div>
            <div v-else>
                Agregar módulo
            </div>
        </template>

        <div class="grid gap-4 grid-cols-2">
            <div>
                <div class="flex flex-col gap-2">
                    <label for="label">Etiqueta</label>
                    <InputText @input="setName" :invalid="form.errors.label" id="label" v-model="form.label"
                        aria-describedby="label-help" />
                    <small v-if="form.errors.label" id="label-help">{{ form.errors.label }}</small>
                </div>
            </div>
            <div>
                <div class="flex flex-col gap-2">
                    <label for="name">Nombre</label>
                    <InputText :invalid="form.errors.name" id="name" v-model="inputName" aria-describedby="name-help" />
                    <small v-if="form.errors.name" id="name-help">{{ form.errors.name }}</small>
                </div>
            </div>
            <div class="col-span-2">
                <div class="flex flex-col gap-2">
                    <label for="description">Descripción</label>
                    <Textarea v-model="form.description" rows="2" aria-describedby="description-help" />
                    <small v-if="form.errors.description" id="description-help">{{ form.errors.description }}</small>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="flex justify-end gap-4">
                <Button @click="submit" label="Guardar" />
            </div>
        </div>
    </Modal>
</template>
