<script setup>
import Button from 'primevue/button';
import Modal from "@/Components/ModalPage.vue"
import { Link } from "@inertiajs/vue3"

const props = defineProps({
    model: {
        type: Object,
        default: {}
    }
});
</script>

<template>
    <Modal>
        <template #title>
            ¿Eliminar módulo?
        </template>

        <div class="grid gap-4">
            Múdulo "{{ props.model.label }}" será eliminado
        </div>
        <div class="mt-4">
            <div class="flex justify-end gap-4">
                <Link as="button" method="DELETE" :href="route('modules.destroy', [props.model.id])">
                <Button icon="pi pi-trash" label="Eliminar" title="Eliminar" severity="danger" />
                </Link>
            </div>
        </div>
    </Modal>
</template>
