<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import InputText from 'primevue/inputtext';
import Textarea from 'primevue/textarea';
import Button from 'primevue/button';
import InputSwitch from 'primevue/inputswitch';
import Checkbox from 'primevue/checkbox';
import { useForm, Link } from "@inertiajs/vue3";
import { ref } from "vue";

import Breadcrumb from 'primevue/breadcrumb';


const props = defineProps({
    modules: {
        type: Array,
        default: []
    },
    permissions: {
        type: Array,
        default: []
    },
    model: {
        type: Object,
        default: {
            guard_name: 'web',
            permissions: []
        }
    }
});

const form = useForm({
    label: props.model.label,
    name: props.model.name,
    description: props.model.description,
    guard_name: props.model.guard_name,
    permissions: props.permissions
});

const submit = () => {
    if (props.model.id) {
        form.put(route('roles.update', [props.model.id]));
    } else {
        form.post(route('roles.store'));
    }
};

const home = ref({
    icon: 'pi pi-home', url: '/',
});
const items = ref([{
    label: 'Roles',
    url: route('roles.index')
}]);
if (props.model.id) {
    items.value.push({
        label: props.model.label
    });
    items.value.push({
        label: 'Editar',
    });
} else {
    items.value.push({
        label: 'Nuevo',
    });
}

</script>

<template>
    <AppLayout >
        <template #breadcrumb>
            <Breadcrumb :home="home" :model="items"></Breadcrumb>
        </template>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
                <div v-if="props.model.id">
                    Editar rol
                </div>
                <div v-else>
                    Nuevo rol
                </div>
            </h2>
        </template>
        <div>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <section class="bg-gray-50 dark:bg-gray-900 ">
                    <div class="mx-auto max-w-screen-xl ">
                        <!-- Start coding here -->
                        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden p-4">

                            <div class="grid gap-4">
                                <div>
                                    <div class="flex flex-col gap-2">
                                        <label for="label">Etiqueta</label>
                                        <InputText :invalid="form.errors.label" id="label" v-model="form.label"
                                            aria-describedby="label-help" />
                                        <small v-if="form.errors.label" id="label-help">{{ form.errors.label }}</small>
                                    </div>
                                </div>
                                <div>
                                    <div class="flex flex-col gap-2">
                                        <label for="name">Nombre</label>
                                        <InputText :invalid="form.errors.label" id="name" v-model="form.name"
                                            aria-describedby="name-help" />
                                        <small v-if="form.errors.name" id="name-help">{{ form.errors.name }}</small>
                                    </div>
                                </div>
                                <div class="col-span-2">
                                    <div class="flex flex-col gap-2">
                                        <label for="description">Descripción</label>
                                        <Textarea v-model="form.description" rows="2"
                                            aria-describedby="description-help" />
                                        <small v-if="form.errors.description" id="description-help">{{
                                            form.errors.description
                                        }}</small>
                                    </div>
                                </div>
                                <div class="col-span-2">
                                    <label>Permisos</label>
                                    <div class="grid grid-cols-2 gap-4 mt-3">
                                        <div v-for="module in props.modules">
                                            <fieldset class="p-fieldset p-component p-4">
                                                <legend class="p-fieldset-legend">
                                                    <div class="flex items-center gap-2">
                                                        <Checkbox v-model="form.permissions"
                                                            :inputId="'module' + module.id" name="permission"
                                                            :value="module.name" />
                                                        <label :for="'module' + module.id">{{ module.label }}</label>
                                                    </div>
                                                </legend>
                                                <div class="grid grid-cols-2 gap-2">
                                                    <div v-for="permission of module.permissions" :key="permission.id"
                                                        class="flex items-center gap-2">
                                                        <Checkbox v-model="form.permissions" :inputId="permission.id"
                                                            name="permission" :value="permission.name" />
                                                        <label :for="permission.id">{{ permission.label }}</label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="flex justify-end gap-4">
                                    <Button @click="submit" label="Guardar" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </AppLayout>
</template>